.header {
	width: 1000px;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.out_frame {
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	height: 750px;
}

.left_frame {
	width: 350px;
	float: left;
}

.upload_frame {
	height: 200px;
	margin-top: auto;
	margin-bottom: auto;
	/* background-color: #7FEBD7; */
	padding: 10px;
}

.list_frame {
	margin-top: auto;
	margin-bottom: auto;
	/* background-color: #7FEB95; */
	padding: 10px;
}

.img_box {
	width: 600px;
	height: 500px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.result_frame {
	width: 650px;
	height: 730px;
	float: right;
	padding: 10px;
}

.pic_paper_box {
	border-color: black;
	border-width: 1px;
	border-style: solid;
	position: relative;
	z-index: 10;
}

.pic_paper_container {
	width: 0;
	height: 0;
	position: relative;
}

canvas {
	display: none;
	z-index: 11;
}

#file_img {
	max-height: 500px;
	max-width: 600px;
}

#input_file {
	display:none;
}

#bt {
	width: 250px;
	text-align: center;
}

#upload_form {
	width: 250px;
	margin-right: auto;
	margin-left: auto;
}

#jqx_console {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
}

.pic_paper_container {
	width: 0;
	height: 0;
}